
.Rubrik{
    text-align: center;
}

.bakgrund{
    background-image: url(./img/snow_winter_trees.jpg);
    background-size: cover;
    border-radius: 5px;
    border: 5px solid black;
    width: 100%;
    height: 500px;    
    margin: 15px auto;
    
}

.bilder{
    max-width: 175px;
    height: auto;
    border: 2px solid black;
    

}

.div-lådor{
    border: 3px solid black;
    width: 1425px;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-around; /* Sprider ut länkarna jämnt */
    align-items: center; /* Vertikalt centrerar loggorna */
    margin: 20px auto; /* För att centrera på sidan */
}

.vinter-klass
{
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 3.5em;
    color: black;
    margin-top: 0;
}

.mellan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 20px;
}

.vänster-div, .höger-div {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 10px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.höger-div{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 10px;
    width: 200px;
}

#main{
    border: 3px solid black;
    margin-left: 7.5px;
    margin-right: 7.5px;

}

#kontakta-oss{
    text-align: center;
    border: 2px solid black;
    width: 1242.5px;
    margin: 10px auto;
}